.App {
  display: grid;
  grid-template-columns: auto;

}

.App>div {
  background-color: rgb(200, 226, 218);
  padding: 20px;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

button {
    width: 200px;
    padding: 10px;
    margin: 5px;
    font-size: larger;
    border-radius: 5px;
    cursor: pointer;
}
